In [1]:
import pandas as pd 
df = pd.read_csv('/Users/snehauppu/Documents/Airline_OnTime_Performance/Data/T_ONTIME_REPORTING.csv')
df.head(50)

/var/folders/_7/g1d8zm1d2mx78py6hrn2xwyr0000gn/T/ipykernel_81776/297300280.py:2: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/snehauppu/Documents/Airline_OnTime_Performance/Data/T_ONTIME_REPORTING.csv')

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DIV4_WHEELS_OFF,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_AIRPORT_ID,DIV5_AIRPORT_SEQ_ID,DIV5_WHEELS_ON,DIV5_TOTAL_GTIME,DIV5_LONGEST_GTIME,DIV5_WHEELS_OFF,DIV5_TAIL_NUM
0,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N101NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N101NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N103US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N104NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N104NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N104UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N105UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N106NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N106NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N106NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N107NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N107US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N108UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N109NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N109NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N109NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N110AN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N111US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N111US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N111US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N111ZM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.shape

(562439, 109)

In [3]:
print(df.columns.tolist())

['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME', 'TOTAL_ADD_GTIME', 'LONGEST_ADD_GTIME', 'DIV_AIRPORT_LANDINGS', 'DIV_REACHED_DEST', 'DIV_ACTUAL_ELAPSED_TIME', 'DIV_ARR_DELAY', 'DIV_DISTANCE', 'DIV1_AIRPORT', 'DIV1_AIRPORT_ID', 'DIV1_AIRPORT_SEQ_ID', 'DIV1_WHEELS_ON', 'DIV1_TOTAL_GTIME', 'DIV1_LONGEST_GTIME', 'DIV1_WHEELS_OFF', 'DIV1_TAIL_NUM', 'DIV2_AIRPORT', 'DIV2_AIRPORT_ID', 'DIV2_AIRPORT_SEQ_ID', 'DIV2_WHEELS_ON', 'DIV2_TOTAL_GTIME', 'DIV2_LONGEST_GTIME', 'DIV2_WHEELS_OFF', 'DIV2_TAIL_NUM', 'DIV3_AIRPORT', 'DIV3_AIRPORT_ID', 'DIV3_AIRPORT_SEQ_ID', 'DIV3_WHEELS_ON', 'DIV3_TOTAL_GTIME', 'DIV3_LONGEST_GTIME', 'DIV3_WHEELS_OFF', 'DIV3_TAIL_NUM', 'DIV4_AIRPORT', 'DIV4_AIRPORT_ID', 'DIV4_AIRPORT_SEQ_ID', 'DIV4_WHEELS_ON', 'DIV4_TOTAL_GTIME', 'DIV4_LONGEST_GTIME', 'DIV4_WHEELS_OFF', 'DIV4_TAIL_NUM', 'DIV5_AIRPORT', 'DIV5_AIRPORT_ID', 'DIV5_AIRPORT_SEQ_ID', 'DIV5_WHEELS_ON', 'DIV5_TOTAL_GTIME', 'DIV5_LONGEST_GTIME', 'DIV5_WHEELS_OFF', 'DIV5_TAIL_NUM']

In [4]:
df[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].head(20)

,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,34.0,0.0,7.0,0.0,0.0
3,6.0,0.0,0.0,0.0,20.0
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,51.0,0.0,19.0,0.0,309.0
14,2.0,0.0,0.0,0.0,366.0
15,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isna().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
                       ...
DIV5_WHEELS_ON        562439
DIV5_TOTAL_GTIME      562439
DIV5_LONGEST_GTIME    562439
DIV5_WHEELS_OFF       562439
DIV5_TAIL_NUM         562439
Length: 109, dtype: int64

In [6]:
df['DIV_AIRPORT_LANDINGS'].value_counts()

DIV_AIRPORT_LANDINGS
0.0    561202
1.0      1217
9.0        12
2.0         7
Name: count, dtype: int64

In [7]:
data = df[['YEAR','QUARTER','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','FL_DATE',
           'OP_UNIQUE_CARRIER','OP_CARRIER_FL_NUM','ORIGIN_AIRPORT_ID','ORIGIN_CITY_NAME','ORIGIN_STATE_ABR',
           'DEST_AIRPORT_ID','DEST_CITY_NAME','DEST_STATE_ABR','CRS_DEP_TIME','DEP_TIME',
           'DEP_DELAY_NEW','DEP_DEL15','CRS_ARR_TIME','ARR_DELAY_NEW','ARR_DEL15',
           'CANCELLED','CANCELLATION_CODE','DIVERTED','DISTANCE','DISTANCE_GROUP',
           'CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY',
           'LATE_AIRCRAFT_DELAY','DIV_AIRPORT_LANDINGS','DIV_REACHED_DEST','DIV_ARR_DELAY',
           'DIV_DISTANCE','DIV1_AIRPORT','DIV2_AIRPORT']].copy()
data

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ARR_DELAY,DIV_DISTANCE,DIV1_AIRPORT,DIV2_AIRPORT
0,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,1188,10721,"Boston, MA",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,4,12892,"Los Angeles, CA",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,12,12892,"Los Angeles, CA",...,0.0,7.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,1578,10721,"Boston, MA",...,0.0,0.0,0.0,20.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,28,12892,"Los Angeles, CA",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562434,2025,3,9,30,2,9/30/2025 12:00:00 AM,YX,5816,12953,"New York, NY",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
562435,2025,3,9,30,2,9/30/2025 12:00:00 AM,YX,4514,11995,"Greensboro/High Point, NC",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
562436,2025,3,9,30,2,9/30/2025 12:00:00 AM,YX,4525,12953,"New York, NY",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
562437,2025,3,9,30,2,9/30/2025 12:00:00 AM,YX,4619,13931,"Norfolk, VA",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
562438,2025,3,9,30,2,9/30/2025 12:00:00 AM,YX,4752,12953,"New York, NY",...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [8]:
data.isna().sum()

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_UNIQUE_CARRIER            0
OP_CARRIER_FL_NUM            0
ORIGIN_AIRPORT_ID            0
ORIGIN_CITY_NAME             0
ORIGIN_STATE_ABR             0
DEST_AIRPORT_ID              0
DEST_CITY_NAME               0
DEST_STATE_ABR               0
CRS_DEP_TIME                 0
DEP_TIME                  2706
DEP_DELAY_NEW             2721
DEP_DEL15                 2721
CRS_ARR_TIME                 0
ARR_DELAY_NEW             4111
ARR_DEL15                 4111
CANCELLED                    0
CANCELLATION_CODE       559553
DIVERTED                     0
DISTANCE                     0
DISTANCE_GROUP               0
CARRIER_DELAY           469580
WEATHER_DELAY           469580
NAS_DELAY               469580
SECURITY_DELAY          469580
LATE_AIRCRAFT_DELAY     469580
DIV_AIRPORT_LANDINGS         1
DIV_REACHED_DEST        561215
DIV_ARR_DELAY           561286
DIV_DISTANCE            561215
DIV1_AIRPORT            561202
DIV2_AIRPORT            562432
dtype: int64

In [9]:
# Modify this during normalization. Cancelled flights are included in ontime and delayed flights
data.groupby("CANCELLED")["DEP_DEL15"].unique()

CANCELLED
0.0         [0.0, 1.0]
1.0    [nan, 1.0, 0.0]
Name: DEP_DEL15, dtype: object

In [10]:
data["DEP_DELAY_NEW"]

0          0.0
1         18.0
2         34.0
3         54.0
4          0.0
          ...
562434     0.0
562435     0.0
562436     0.0
562437     0.0
562438     0.0
Name: DEP_DELAY_NEW, Length: 562439, dtype: float64

In [11]:
data["FL_DATE"]

0          9/1/2025 12:00:00 AM
1          9/1/2025 12:00:00 AM
2          9/1/2025 12:00:00 AM
3          9/1/2025 12:00:00 AM
4          9/1/2025 12:00:00 AM
                  ...
562434    9/30/2025 12:00:00 AM
562435    9/30/2025 12:00:00 AM
562436    9/30/2025 12:00:00 AM
562437    9/30/2025 12:00:00 AM
562438    9/30/2025 12:00:00 AM
Name: FL_DATE, Length: 562439, dtype: object

In [12]:
data["FL_DATE"] = pd.to_datetime(data["FL_DATE"], format="%m/%d/%Y %I:%M:%S %p", errors='coerce')

In [13]:
key_cols = [
    "FL_DATE",
    "OP_UNIQUE_CARRIER",
    "OP_CARRIER_FL_NUM",
    "ORIGIN_AIRPORT_ID",
    "DEST_AIRPORT_ID"
]

In [14]:
data[key_cols].isnull().sum()

FL_DATE              0
OP_UNIQUE_CARRIER    0
OP_CARRIER_FL_NUM    0
ORIGIN_AIRPORT_ID    0
DEST_AIRPORT_ID      0
dtype: int64

In [15]:
data = data.dropna(subset = key_cols)

In [16]:
# Duplicates
data.duplicated().sum()

np.int64(0)

In [17]:
data = data.drop_duplicates()

In [18]:
dup = data.duplicated(subset = key_cols, keep=False)
print("Total rows:", len(data))
print("Rows with duplicated keys:", dup.sum())

Total rows: 562439
Rows with duplicated keys: 0

In [19]:
data = data.drop_duplicates(subset = key_cols, keep = "first")

In [20]:
print("Cancelled values:", data["CANCELLED"].unique())
print("Diverted values:", data["DIVERTED"].unique())

Cancelled values: [0. 1.]
Diverted values: [0. 1.]

In [21]:
data.loc[:, "CANCELLED"] = pd.to_numeric(data["CANCELLED"], errors = 'coerce')
data.loc[:, "DIVERTED"] = pd.to_numeric(data["DIVERTED"], errors = 'coerce')
data.loc[:, "CANCELLED"] = data["CANCELLED"].fillna(0).astype(int)
data.loc[:, "DIVERTED"] = data["DIVERTED"].fillna(0).astype(int)

In [22]:
string_cols = [
    "OP_UNIQUE_CARRIER",
    "ORIGIN_STATE_ABR",
    "DEST_STATE_ABR",
    "ORIGIN_CITY_NAME",
    "DEST_CITY_NAME",
    "CANCELLATION_CODE",
    "DIV1_AIRPORT",
    "DIV2_AIRPORT"
]

for col in string_cols:
    if col in data.columns:
        data.loc[:, col] = data[col].astype(str).str.strip()
        data.loc[:, col] = data[col].replace(["nan","NAN"], pd.NA)

In [23]:
code_cols = [
    "OP_UNIQUE_CARRIER",
    "ORIGIN_STATE_ABR",
    "DEST_STATE_ABR",
    "CANCELLATION_CODE",
    "DIV1_AIRPORT",
    "DIV2_AIRPORT"
]
for col in code_cols:
    if col in data.columns:
        data.loc[:, col] = data[col].str.upper()

In [24]:
city_cols = [
    "ORIGIN_CITY_NAME",
    "DEST_CITY_NAME",
]
for col in city_cols:
    if col in data.columns:
        data.loc[:, col] = data[col].str.title()

In [25]:
for col in code_cols:
    if col in data.columns:
        print(data[col].unique())

['AA' 'AS' 'B6' 'DL' 'F9' 'G4' 'HA' 'MQ' 'NK' 'OH' 'OO' 'UA' 'WN' 'YX']
['MA' 'CA' 'FL' 'NC' 'LA' 'NY' 'WI' 'TX' 'OR' 'PA' 'VA' 'MI' 'AZ' 'OH'
 'GA' 'CO' 'WA' 'TN' 'KY' 'SD' 'OK' 'CT' 'NV' 'SC' 'MO' 'NM' 'IA' 'IL'
 'RI' 'NJ' 'UT' 'ME' 'MT' 'MN' 'VI' 'IN' 'PR' 'NE' 'MD' 'HI' 'AK' 'AR'
 'WY' 'VT' 'ID' 'AL' 'NH' 'ND' 'KS' 'MS' 'WV' 'TT']
['CA' 'NY' 'MA' 'NC' 'LA' 'TX' 'OR' 'VA' 'PA' 'MI' 'WI' 'OH' 'GA' 'FL'
 'CO' 'WA' 'TN' 'AZ' 'WY' 'OK' 'NV' 'SC' 'MO' 'NM' 'IA' 'UT' 'IL' 'RI'
 'PR' 'ID' 'ME' 'KY' 'MT' 'MN' 'VI' 'IN' 'NJ' 'NE' 'MD' 'CT' 'HI' 'AK'
 'AR' 'VT' 'AL' 'SD' 'NH' 'ND' 'KS' 'MS' 'WV' 'TT']
[<NA> 'B' 'A' 'C']
[<NA> 'AUS' 'ELP' 'TUS' 'TUL' 'OKC' 'LAS' 'PSP' 'HNL' 'PDX' 'AMA' 'XNA'
 'ABI' 'LAW' 'SAT' 'SDF' 'SJU' 'SHV' 'CLT' 'DEN' 'SPS' 'LAX' 'ABQ' 'ONT'
 'RSW' 'PNS' 'PHX' 'RDU' 'TPA' 'LRD' 'DSM' 'DFW' 'GUM' 'OMA' 'SFO' 'BWI'
 'JFK' 'FSD' 'PHL' 'MCI' 'MOT' 'STL' 'EUG' 'IAD' 'CAE' 'GSP' 'PSG' 'DTW'
 'BDL' 'BOS' 'ATL' 'MSP' 'PIE' 'CHA' 'TLH' 'ORF' 'DCA' 'TRI' 'CLE' 'ABE'
 'ORD' 'MDT' 'PIT' 'RIC' 'CMH' 'BUF' 'MIA' 'MCO' 'ACT' 'DAY' 'HOU' 'FAT'
 'SYR' 'CHS' 'ALB' 'ROC' 'ISP' 'PVD' 'CVG' 'ACY' 'PHF' 'SAV' 'SWF' 'JAX'
 'PBI' 'PGD' 'COS' 'BIL' 'SAN' 'NAS' 'SMF' 'GRB' 'RNO' 'FLL' 'CPR' 'BFF'
 'FNL' 'SLC' 'GJT' 'BOI' 'HDN' 'PLS' 'MLB' 'IAH' 'YKM' 'RAP' 'ICT' 'PSC'
 'FAR' 'GFK' 'MSN' 'LNK' 'DAL' 'MDW' 'IND' 'MKE' 'FWA' 'GRR' 'MLI' 'SJC'
 'SPI' 'CID' 'RFD' 'BIS' 'SEA' 'LSE' 'LBB' 'HSV' 'MSY' 'ANC' 'BHM' 'OAK'
 'AVP' 'MFR' 'MEM' 'SIT' 'TYS' 'CLL' 'GRK' 'LFT' 'TYR' 'TWF' 'BNA' 'LIT'
 'RST' 'MLU' 'CWA' 'PIA' 'EWR' 'BDA' 'HRL' 'CDC' 'CRW' 'WRG' 'AZA' 'BZN'
 'YUM' 'LGA' 'LGB' 'ROA']
[<NA> 'CLT' 'JFK' 'IAD' 'DEN' 'SFO']

In [26]:
# Validation
assert data.duplicated(subset = key_cols).sum() == 0, "Duplicates found in key columns"
assert data[key_cols].isnull().sum().sum() == 0, "Nulls found in key columns"
assert set(data["CANCELLED"].unique()).issubset({0,1}), "Cancelled values are not 0 or 1"
assert set(data["DIVERTED"].unique()).issubset({0,1}), "Diverted values are not 0 and 1"
assert str(data["FL_DATE"].dtype).startswith("datetime"), "Flight Date is not a datetime"
for col in string_cols:
    if col in data.columns:
        assert "NaN" not in data[col].astype(str).unique(), f"{col} contains NaN"