In [20]:
import pandas as pd 
df = pd.read_csv('/Users/snehauppu/Documents/Airline_OnTime_Performance/Data/T_ONTIME_REPORTING.csv')
df.head(50000)

/var/folders/_7/g1d8zm1d2mx78py6hrn2xwyr0000gn/T/ipykernel_7057/412821058.py:2: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/snehauppu/Documents/Airline_OnTime_Performance/Data/T_ONTIME_REPORTING.csv')

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DIV4_WHEELS_OFF,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_AIRPORT_ID,DIV5_AIRPORT_SEQ_ID,DIV5_WHEELS_ON,DIV5_TOTAL_GTIME,DIV5_LONGEST_GTIME,DIV5_WHEELS_OFF,DIV5_TAIL_NUM
0,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N101NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N101NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025,3,9,1,1,9/1/2025 12:00:00 AM,AA,19805,AA,N102NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2025,3,9,3,3,9/3/2025 12:00:00 AM,UA,19977,UA,N77543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,2025,3,9,3,3,9/3/2025 12:00:00 AM,UA,19977,UA,N77543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,2025,3,9,3,3,9/3/2025 12:00:00 AM,UA,19977,UA,N77543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,2025,3,9,3,3,9/3/2025 12:00:00 AM,UA,19977,UA,N77552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,2025,3,9,3,3,9/3/2025 12:00:00 AM,UA,19977,UA,N77552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.shape

(562439, 109)

In [14]:
df.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       ...
       'DIV4_WHEELS_OFF', 'DIV4_TAIL_NUM', 'DIV5_AIRPORT', 'DIV5_AIRPORT_ID',
       'DIV5_AIRPORT_SEQ_ID', 'DIV5_WHEELS_ON', 'DIV5_TOTAL_GTIME',
       'DIV5_LONGEST_GTIME', 'DIV5_WHEELS_OFF', 'DIV5_TAIL_NUM'],
      dtype='object', length=109)

In [15]:
df[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].head(20)

,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,34.0,0.0,7.0,0.0,0.0
3,6.0,0.0,0.0,0.0,20.0
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,51.0,0.0,19.0,0.0,309.0
14,2.0,0.0,0.0,0.0,366.0
15,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN

In [16]:
df.isna().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
                       ...
DIV5_WHEELS_ON        562439
DIV5_TOTAL_GTIME      562439
DIV5_LONGEST_GTIME    562439
DIV5_WHEELS_OFF       562439
DIV5_TAIL_NUM         562439
Length: 109, dtype: int64

In [17]:
df['DIV_AIRPORT_LANDINGS'].value_counts()

DIV_AIRPORT_LANDINGS
0.0    561202
1.0      1217
9.0        12
2.0         7
Name: count, dtype: int64