In [34]:
import pandas as pd

In [35]:
data = pd.read_parquet("cleaned_data.parquet")
data.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_ABR,CRS_DEP_TIME,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ARR_DELAY,DIV_DISTANCE,DIV1_AIRPORT,DIV2_AIRPORT
0,2025-09-01,AA,1188,10721,"Boston, Ma",MA,12892,"Los Angeles, Ca",CA,1205,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,None,None
1,2025-09-01,AA,4,12892,"Los Angeles, Ca",CA,12478,"New York, Ny",NY,1520,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,None,None
2,2025-09-01,AA,12,12892,"Los Angeles, Ca",CA,10721,"Boston, Ma",MA,835,...,0.0,7.0,0.0,0.0,0.0,NaN,NaN,NaN,None,None
3,2025-09-01,AA,1578,10721,"Boston, Ma",MA,12892,"Los Angeles, Ca",CA,1807,...,0.0,0.0,0.0,20.0,0.0,NaN,NaN,NaN,None,None
4,2025-09-01,AA,28,12892,"Los Angeles, Ca",CA,12478,"New York, Ny",NY,2252,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,None,None

In [36]:
data["YEAR"] = data["FL_DATE"].dt.year
data["QUARTER"]= data["FL_DATE"].dt.quarter
data["MONTH"] = data["FL_DATE"].dt.month
data["DAY_OF_WEEK"] = data["FL_DATE"].dt.dayofweek + 1
data["DAY_OF_MONTH"] = data["FL_DATE"].dt.day
data[["FL_DATE", "YEAR", "QUARTER", "MONTH", "DAY_OF_WEEK", "DAY_OF_MONTH"]].head()

     FL_DATE  YEAR  QUARTER  MONTH  DAY_OF_WEEK  DAY_OF_MONTH
0 2025-09-01  2025        3      9            1             1
1 2025-09-01  2025        3      9            1             1
2 2025-09-01  2025        3      9            1             1
3 2025-09-01  2025        3      9            1             1
4 2025-09-01  2025        3      9            1             1

In [37]:
data["SCH_DEP_HOUR"] = (data["CRS_DEP_TIME"] // 100).astype("Int64")
data["SCH_ARR_HOUR"] = (data["CRS_ARR_TIME"] // 100).astype("Int64")

data["DEP_HOUR"] = (data["DEP_TIME"] // 100).astype("Int64")
data["ARR_HOUR"] = (data["ARR_TIME"] // 100).astype("Int64")

data[["CRS_DEP_TIME", "SCH_DEP_HOUR"]].head()

   CRS_DEP_TIME  SCH_DEP_HOUR
0          1205            12
1          1520            15
2           835             8
3          1807            18
4          2252            22

In [38]:
print(data["SCH_DEP_HOUR"].min(), data["SCH_DEP_HOUR"].max())
print(data["SCH_ARR_HOUR"].min(), data["SCH_ARR_HOUR"].max())  
print(data["DEP_HOUR"].min(), data["DEP_HOUR"].max())
print(data["ARR_HOUR"].min(), data["ARR_HOUR"].max())

0 23
0 23
0 24
0 24

In [39]:
print(data.loc[data["DEP_HOUR"] == 24])
print(data.loc[data["ARR_HOUR"] == 24])

          FL_DATE OP_UNIQUE_CARRIER  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
1005   2025-09-01                AA               2666              11298
1065   2025-09-01                AA               2878              11292
2829   2025-09-01                AA               1455              11298
7240   2025-09-01                F9               1292              11292
23674  2025-09-02                B6               1318              12478
55374  2025-09-04                AA               2490              12892
57765  2025-09-04                AS                192              10299
75884  2025-09-05                AA               2757              12892
82407  2025-09-05                MQ               3403              11298
109455 2025-09-07                AA               2852              14869
109864 2025-09-07                AA               2777              12892
116616 2025-09-07                F9               1808              13204
128349 2025-09-07                YX               5746              12953
133013 2025-09-08                B6                162              14893
133018 2025-09-08                B6               1224              12892
136084 2025-09-08                F9               4345              11292
163326 2025-09-09                WN               2754              12892
170964 2025-09-10                DL               2038              14869
186156 2025-09-11                AS                464              14747
191509 2025-09-11                HA                624              12173
199396 2025-09-11                WN               3823              13495
204426 2025-09-12                AA               2777              12892
211301 2025-09-12                F9               3405              11292
245631 2025-09-14                DL                810              14747
267296 2025-09-15                F9               1734              11292
291010 2025-09-16                OO               5059              11292
316747 2025-09-18                AA               2903              11278
318459 2025-09-18                AS                452              14747
319920 2025-09-18                DL               3247              10397
341575 2025-09-19                DL               2338              10397
351181 2025-09-19                WN               1485              11259
351234 2025-09-19                WN               2210              11259
374390 2025-09-21                AA               2757              12892
376143 2025-09-21                B6               1224              12892
384492 2025-09-21                OO               6502              13930
394141 2025-09-22                AA                670              13303
401812 2025-09-22                NK                185              12889
430207 2025-09-24                AA               2399              11292
448310 2025-09-25                AA               2777              12892
469281 2025-09-26                AA               3255              11057
479211 2025-09-26                OO               3428              12889
508841 2025-09-28                DL               3247              10397
512596 2025-09-28                HA                624              12173
550116 2025-09-30                DL                722              12889

             ORIGIN_CITY_NAME ORIGIN_STATE_ABR  DEST_AIRPORT_ID  \
1005    Dallas/Fort Worth, Tx               TX            14893
1065               Denver, Co               CO            11057
2829    Dallas/Fort Worth, Tx               TX            13495
7240               Denver, Co               CO            13487
23674            New York, Ny               NY            10721
55374         Los Angeles, Ca               CA            11298
57765           Anchorage, Ak               AK            12892
75884         Los Angeles, Ca               CA            13930
82407   Dallas/Fort Worth, Tx               TX            13277
109455     Salt Lake City, Ut               UT            11057
109864        Los Angeles, Ca               CA            13303
116616            Orlando, Fl               FL            14100
128349           New York, Ny               NY            10721
133013         Sacramento, Ca               CA            12478
133018        Los Angeles, Ca               CA            12478
136084             Denver, Co               CO            12892
163326        Los Angeles, Ca               CA            12191
170964     Salt Lake City, Ut               UT            11618
186156            Seattle, Wa               WA            10397
191509           Honolulu, Hi               HI            14771
199396        New Orleans, La               LA            12191
204426        Los Angeles, Ca               CA            13303
211301             Denver, Co               CO            14747
245631            Seattle, Wa               WA            11433
267296             Denver, Co               CO            13204
291010             Denver, Co               CO            11468
316747         Washington, Dc               VA            13930
318459            Seattle, Wa               WA            12266
319920            Atlanta, Ga               GA            14492
341575            Atlanta, Ga               GA            13931
351181             Dallas, Tx               TX            10279
351234             Dallas, Tx               TX            13158
374390        Los Angeles, Ca               CA            13930
376143        Los Angeles, Ca               CA            12478
384492            Chicago, Il               IL            10397
394141              Miami, Fl               FL            13198
401812          Las Vegas, Nv               NV            11433
430207             Denver, Co               CO            11057
448310        Los Angeles, Ca               CA            13303
469281          Charlotte, Nc               NC            13230
479211          Las Vegas, Nv               NV            14679
508841            Atlanta, Ga               GA            14492
512596           Honolulu, Hi               HI            14771
550116          Las Vegas, Nv               NV            10397

               DEST_CITY_NAME DEST_STATE_ABR  CRS_DEP_TIME  ...  DIV2_AIRPORT  \
1005           Sacramento, Ca             CA          2100  ...          None
1065            Charlotte, Nc             NC          2359  ...          None
2829          New Orleans, La             LA          2052  ...          None
7240          Minneapolis, Mn             MN          2119  ...          None
23674              Boston, Ma             MA          2259  ...          None
55374   Dallas/Fort Worth, Tx             TX          2359  ...          None
57765         Los Angeles, Ca             CA          2344  ...          None
75884             Chicago, Il             IL          2359  ...          None
82407          Montgomery, Al             AL          2105  ...          None
109455          Charlotte, Nc             NC          2359  ...          None
109864              Miami, Fl             FL          2359  ...          None
116616       Philadelphia, Pa             PA          2224  ...          None
128349             Boston, Ma             MA          1859  ...          None
133013           New York, Ny             NY          2359  ...          None
133018           New York, Ny             NY          2359  ...          None
136084        Los Angeles, Ca             CA          2255  ...          None
163326            Houston, Tx             TX          2350  ...          None
170964             Newark, Nj             NJ          2344  ...          None
186156            Atlanta, Ga             GA          2359  ...          None
191509      San Francisco, Ca             CA          2356  ...          None
199396            Houston, Tx             TX          2125  ...          None
204426              Miami, Fl             FL          2359  ...          None
211301            Seattle, Wa             WA          2229  ...          None
245631            Detroit, Mi             MI          2311  ...          None
267296            Orlando, Fl             FL             4  ...          None
291010            Kearney, Ne             NE          2058  ...          None
316747            Chicago, Il             IL          2245  ...          None
318459            Houston, Tx             TX          2359  ...          None
319920     Raleigh/Durham, Nc             NC          2250  ...          None
341575            Norfolk, Va             VA          2250  ...          None
351181           Amarillo, Tx             TX          2150  ...          None
351234     Midland/Odessa, Tx             TX          2155  ...          None
374390            Chicago, Il             IL          2359  ...          None
376143           New York, Ny             NY          2359  ...          None
384492            Atlanta, Ga             GA          1859  ...          None
394141        Kansas City, Mo             MO          2131  ...          None
401812            Detroit, Mi             MI          2228  ...          None
430207          Charlotte, Nc             NC          2359  ...          None
448310              Miami, Fl             FL          2359  ...          None
469281         Harrisburg, Pa             PA          2110  ...          None
479211          San Diego, Ca             CA          1947  ...          None
508841     Raleigh/Durham, Nc             NC          2250  ...          None
512596      San Francisco, Ca             CA          2356  ...          None
550116            Atlanta, Ga             GA          2353  ...          None

        YEAR  QUARTER  MONTH  DAY_OF_WEEK  DAY_OF_MONTH  SCH_DEP_HOUR  \
1005    2025        3      9            1             1            21
1065    2025        3      9            1             1            23
2829    2025        3      9            1             1            20
7240    2025        3      9            1             1            21
23674   2025        3      9            2             2            22
55374   2025        3      9            4             4            23
57765   2025        3      9            4             4            23
75884   2025        3      9            5             5            23
82407   2025        3      9            5             5            21
109455  2025        3      9            7             7            23
109864  2025        3      9            7             7            23
116616  2025        3      9            7             7            22
128349  2025        3      9            7             7            18
133013  2025        3      9            1             8            23
133018  2025        3      9            1             8            23
136084  2025        3      9            1             8            22
163326  2025        3      9            2             9            23
170964  2025        3      9            3            10            23
186156  2025        3      9            4            11            23
191509  2025        3      9            4            11            23
199396  2025        3      9            4            11            21
204426  2025        3      9            5            12            23
211301  2025        3      9            5            12            22
245631  2025        3      9            7            14            23
267296  2025        3      9            1            15             0
291010  2025        3      9            2            16            20
316747  2025        3      9            4            18            22
318459  2025        3      9            4            18            23
319920  2025        3      9            4            18            22
341575  2025        3      9            5            19            22
351181  2025        3      9            5            19            21
351234  2025        3      9            5            19            21
374390  2025        3      9            7            21            23
376143  2025        3      9            7            21            23
384492  2025        3      9            7            21            18
394141  2025        3      9            1            22            21
401812  2025        3      9            1            22            22
430207  2025        3      9            3            24            23
448310  2025        3      9            4            25            23
469281  2025        3      9            5            26            21
479211  2025        3      9            5            26            19
508841  2025        3      9            7            28            22
512596  2025        3      9            7            28            23
550116  2025        3      9            2            30            23

        SCH_ARR_HOUR DEP_HOUR  ARR_HOUR
1005              22       24         1
1065               5       24         4
2829              22       24         1
7240               0       24         2
23674              0       24         1
55374              4       24         4
57765              6       24         6
75884              6       24         5
82407             22       24         2
109455             5       24         5
109864             8       24         7
116616             0       24         2
128349            20       24         0
133013             8       24         8
133018             8       24         8
136084             0       24         1
163326             5       24         5
170964             6       24         6
186156             7       24         7
191509             8       24         8
199396            22       24         1
204426             8       24         7
211301             0       24         1
245631             6       24         7
267296             5       24         5
291010            23       24         2
316747            23       24         0
318459             6       24         6
319920             0       24         1
341575             0       24         1
351181            23       24         1
351234            23       24         1
374390             6       24         6
376143             8       24         8
384492            22       24         2
394141            23       24         2
401812             5       24         6
430207             5       24         5
448310             8       24         8
469281            22       24         1
479211            21       24         1
508841             0       24         1
512596             8       24         8
550116             6       24         6

[44 rows x 42 columns]
          FL_DATE OP_UNIQUE_CARRIER  OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID  \
1350   2025-09-01                AA               2802              11057
2491   2025-09-01                AA                641              11298
2699   2025-09-01                AA               2188              13303
2724   2025-09-01                AA                363              13303
3014   2025-09-01                AS                924              14747
...           ...               ...                ...                ...
533675 2025-09-29                MQ               3365              13930
533998 2025-09-29                NK               2326              11697
543335 2025-09-29                WN               2628              11292
549462 2025-09-30                DL               2871              13487
550057 2025-09-30                DL                475              10721

             ORIGIN_CITY_NAME ORIGIN_STATE_ABR  DEST_AIRPORT_ID  \
1350            Charlotte, Nc               NC            11995
2491    Dallas/Fort Worth, Tx               TX            11066
2699                Miami, Fl               FL            14100
2724                Miami, Fl               FL            11042
3014              Seattle, Wa               WA            14489
...                       ...              ...              ...
533675            Chicago, Il               IL            10257
533998    Fort Lauderdale, Fl               FL            10693
543335             Denver, Co               CO            14679
549462        Minneapolis, Mn               MN            10529
550057             Boston, Ma               MA            14771

                   DEST_CITY_NAME DEST_STATE_ABR  CRS_DEP_TIME  ...  \
1350    Greensboro/High Point, Nc             NC          2255  ...
2491                 Columbus, Oh             OH          2041  ...
2699             Philadelphia, Pa             PA          2123  ...
2724                Cleveland, Oh             OH          2125  ...
3014             Bend/Redmond, Or             OR          2310  ...
...                           ...            ...           ...  ...
533675                 Albany, Ny             NY          2040  ...
533998              Nashville, Tn             TN          2115  ...
543335              San Diego, Ca             CA          2150  ...
549462               Hartford, Ct             CT          2019  ...
550057          San Francisco, Ca             CA          2045  ...

        DIV2_AIRPORT  YEAR  QUARTER  MONTH  DAY_OF_WEEK  DAY_OF_MONTH  \
1350            None  2025        3      9            1             1
2491            None  2025        3      9            1             1
2699            None  2025        3      9            1             1
2724            None  2025        3      9            1             1
3014            None  2025        3      9            1             1
...              ...   ...      ...    ...          ...           ...
533675          None  2025        3      9            1            29
533998          None  2025        3      9            1            29
543335          None  2025        3      9            1            29
549462          None  2025        3      9            2            30
550057          None  2025        3      9            2            30

        SCH_DEP_HOUR  SCH_ARR_HOUR DEP_HOUR  ARR_HOUR
1350              22            23       22        24
2491              20             0       20        24
2699              21             0       21        24
2724              21             0       21        24
3014              23             0       23        24
...              ...           ...      ...       ...
533675            20            23       20        24
533998            21            22       22        24
543335            21            23       22        24
549462            20            23       20        24
550057            20             0       20        24

[243 rows x 42 columns]

In [48]:
data.loc[data["CRS_DEP_TIME"] == 2400, "CRS_DEP_TIME"] = 0
data.loc[data["CRS_ARR_TIME"] == 2400, "CRS_ARR_TIME"] = 0   
data.loc[data["DEP_TIME"] == 2400, "DEP_TIME"] = 0
data.loc[data["ARR_TIME"] == 2400, "ARR_TIME"] = 0

In [49]:
data["SCH_DEP_HOUR"] = (data["CRS_DEP_TIME"] // 100).astype("Int64")
data["SCH_ARR_HOUR"] = (data["CRS_ARR_TIME"] // 100).astype("Int64")

data["DEP_HOUR"] = (data["DEP_TIME"] // 100).astype("Int64")
data["ARR_HOUR"] = (data["ARR_TIME"] // 100).astype("Int64")

In [50]:
print(data["SCH_DEP_HOUR"].min(), data["SCH_DEP_HOUR"].max())
print(data["SCH_ARR_HOUR"].min(), data["SCH_ARR_HOUR"].max())  
print(data["DEP_HOUR"].min(), data["DEP_HOUR"].max())
print(data["ARR_HOUR"].min(), data["ARR_HOUR"].max())

0 23
0 23
0 23
0 23

In [51]:
def time_bucket(hour):
    if pd.isna(hour):
        return pd.NA
    elif 0 >= hour <= 5:
        return "Late Night/Early Morning"
    elif 6 <= hour <= 11:
        return "Morning"
    elif 12 <= hour <= 16:
        return "Afternoon"
    elif 17 <= hour <= 20:
        return "Evening"
    else:
        return "Night"
        
data["TIME_BUCKET"] = data["SCH_DEP_HOUR"].apply(time_bucket)
data["TIME_BUCKET"].value_counts()

TIME_BUCKET
Morning                     225874
Afternoon                   168312
Evening                     121426
Night                        46242
Late Night/Early Morning       585
Name: count, dtype: int64

In [ ]:
# Some cancelled flights have delay data. This will cause issues when we try to analysis delay.
cancelled_mask = data["CANCELLED"] == 1

delay_cols = [
    "DEP_DELAY_NEW",
    "ARR_DELAY_NEW",
    "DEP_DEL15",
    "ARR_DEL15",
]

data.loc[cancelled_mask, delay_cols] = pd.NA

data.groupby("CANCELLED")["DEP_DEL15"].unique()

CANCELLED
0.0    [0.0, 1.0]
1.0         [nan]
Name: DEP_DEL15, dtype: object

In [71]:
print(data.loc[data["DEP_DEL15"] == 1, "DEP_DELAY_NEW"].min())
print(data.loc[data["DEP_DEL15"] == 0, "DEP_DELAY_NEW"].max())
print(data.loc[data["ARR_DEL15"] == 1, "ARR_DELAY_NEW"].min())
print(data.loc[data["ARR_DEL15"] == 0, "ARR_DELAY_NEW"].max())

15.0
14.0
15.0
14.0

In [ ]:
data.loc[(data["DEP_DEL15"] == 1) & (data["DEP_DELAY_NEW"] < 15), "DEP_DEL15"] = 0
data.loc[(data["DEP_DEL15"] == 0) & (data["DEP_DELAY_NEW"] > 15), "DEP_DEL15"] = 1
data.loc[(data["ARR_DEL15"] == 1) & (data["ARR_DELAY_NEW"] < 15), "ARR_DEL15"] = 0
data.loc[(data["ARR_DEL15"] == 0) & (data["ARR_DELAY_NEW"] > 15), "ARR_DEL15"] = 1

data.groupby("CANCELLED")["DEP_DEL15"].unique()